<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/match.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
    <title>Match</title>
  </head>
  <body>
    <div id="root">
      <div>
        <header id="header">
          <div></div>
          <div></div>
          <div>
            <p></p>
            <p></p>
          </div>
          <div></div>
          <div></div>
        </header>
        <main>
          <div id="game_stats"> </div>
          <div></div>
        </main>
      </div>
    </div>
  </body>
</html>
