<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/match.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
    <title>Match</title>
  </head>
  <body>
    <div id="root">
      <div>
        <header id="header">
          <div></div>
          <div></div>
          <div>
            <p></p>
            <p></p>
          </div>
          <div></div>
          <div></div>
        </header>
        <main>
          <div id="game_stats">
            <div>
              <div><p></p></div>
              <div></div>
              <div><p></p></div>
            </div>
            <div>
              <div>
                <div>11</div>
                <div>KDA</div>
                <div>22</div>
              </div>
              <div>
                <div>11</div>
                <div>GOLD</div>
                <div>22</div>
              </div>
              <div>
                <div>11</div>
                <div>TOWERS</div>
                <div>22</div>
              </div>
              <div>
                <div>11</div>
                <div>HERALDS</div>
                <div>22</div>
              </div>
              <div>
                <div></div>
                <div>DRAKES</div>
                <div></div>
              </div>
              <div>
                <div></div>
                <div>ELDERS</div>
                <div></div>
              </div>
              <div>
                <div></div>
                <div>BARONS</div>
                <div></div>
              </div>
              <div>
                <div>
                  <%for(let i=0;i<5;i++){%>
                  <img src="" onerror="this.style.display='none'" />
                  <%}%>
                </div>
                <div>BANS</div>
                <div>
                  <%for(let i=0;i<5;i++){%>
                  <img src="" onerror="this.style.display='none'" />
                  <%}%>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>TOTAL DAMAGE DEALT</div>
            <div id="deal"></div>
            <div>GOLD DIFFERENCE</div>
            <div></div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
